<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('app.home') }}">Домой</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('app.create_post') }}">Создать пост</a></li>
                <li><a href="{{ url_for('app.all_posts') }}">Посты</a></li>
                <li><a href="{{ url_for('app.profile', user_id=current_user.id) }}">Профиль</a></li>
                <li><a href="{{ url_for('app.logout') }}">Выход</a></li>
            {% else %}
                <li><a href="{{ url_for('app.create_post') }}">Создать пост</a></li>
                <li><a href="{{ url_for('app.all_posts') }}">Посты</a></li>
                <li><a href="{{ url_for('app.login') }}">Вход</a></li>
                <li><a href="{{ url_for('app.register') }}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>